* {
    box-sizing: border-box;
}
body {
    #aside {
        img {
            width: 33px;
            aspect-ratio: 1;
        }
    
            #logo {
    
            }
    
            #user {
    
            }
    
            #aside-search {
    
            }
    }
    
        
        ul {
            li {
                a {
                    right: 10px;
                }
            }
        }
        
    #main {
        .card {
            display: flex;
        }
    }
}