#aside {
    height: 100vh;
    img {
        width: 33px;
        aspect-ratio: 1;
    }

        #logo {
            
        }

        #user {

        }

        #aside-search {

        }

    ul {
        li {
            padding-left: 10px;
        }
    }
}